hello-unity/Library/metadata
hello-unity/Library/ScriptAssemblies
hello-unity/Library/assetDatabase3
hello-unity/Library/AssetServerCacheV3
hello-unity/Library/AssetVersioning.db
hello-unity/Library/expandedItems
hello-unity/Library/FailedAssetImports.txt
hello-unity/Library/guidmapper
hello-unity/Library/ScriptMapper
hello-unity/Library/AssetImportState
hello-unity/Library/BuildPlayer.prefs
hello-unity/Library/BuildSettings.asset
hello-unity/Library/EditorUserBuildSettings.asset
hello-unity/Library/EditorSettings.asset
hello-unity/Library/expandedItems
hello-unity/Library/InspectorExpandedItems.asset
hello-unity/Library/MonoManager.asset
hello-unity/Library/NetworkManager.asset
hello-unity/Library/ScriptMapper
hello-unity/Library/DynamicsManager.asset
